html {
    box-sizing: border-box;
}

*, *after, *:before {
    box-sizing: inherit;
}

.main
{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-row-gap: 10px; 
    min-height: 100vh;
    padding: 0 0 0 50px;
}

.navigation {

}

.navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.navigation__item {
    display: block;
    margin: 0 8px;
}

.footer{
    background-color: rgba(170, 144, 144, 0.521);
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}